:root {
  --accent-color-fallback: 138,92,245;
}

.callout[data-callout="cite"] {
  --callout-color: transparent;
  
  display: flex;
  flex-direction: column-reverse;
  border-left: solid;
  border-top: solid thin;
  border-color: rgba(var(--accent-color,var(--accent-color-fallback)), 1);
  box-shadow: rgba(var(--accent-color, var(--accent-color-fallback)), 0.1) 5px 5px 5px;
}

.callout[data-callout="cite"] > .callout-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-style: italic;
}

.callout[data-callout="cite"] .callout-content p {
  margin-top: 0;
  font-style: italic;
}
