.callout[data-callout="quote"] {
  --callout-color: transparent;
  --callout-icon: quote;
  display: flex;
  flex-direction: column-reverse;
  border-left: solid;
  border-top: solid thin;
  border-color: rgba(var(--accent-color), 1);
  box-shadow: rgba(var(--accent-color), 0.1) 5px 5px 5px;
}

.callout[data-callout="quote"] > .callout-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-style: italic;
}

.callout[data-callout="quote"] .callout-content p {
  margin-top: 0;
  font-style: italic;
}
